{% load static %}
{% load humanize %}
<div class="blog-comments">

    <h4 class="comments-count">{{comments|length}} Comments</h4>

    <div id="comment-1" class="comment">
      <div class="d-flex">
        <div class="comment-img"><img src="{% static 'assets/img/blog/comments-1.jpg' %}" alt=""></div>
        <div>
          {% for comment in comments %}
          <h5>{{comment.name}}</h5>
          <time >{{comment.created_date|naturalday}}</time>
          <p>
            {{comment.content|safe}}
          </p>
          {% endfor %}
        </div>
      </div>
    </div><!-- End comment #1 -->

    <div class="reply-form">
      <h4>Comment</h4>
      <p>Your email address will not be published. Required fields are marked * </p>
      <form action="{% url 'blog:single' pid=post.id  %}" method="post">
        <div class="row">
          {% csrf_token %}
          <input type="hidden" name="post" value="{{post.id}}">
          {% if request.user.is_authenticated %}
          <div class="col-md-6 form-group">
            <input name="name" type="text" class="form-control" placeholder="Your Name*">
          </div>
          <div class="col-md-6 form-group">
            <input name="email" type="text" class="form-control" placeholder="Your Email*">
          </div>
          {% else %}
          <div class="col-md-6 form-group">
            <input name="name" type="text" class="form-control" placeholder="Your Name*">
          </div>
          <div class="col-md-6 form-group">
            <input name="email" type="text" class="form-control" placeholder="Your Email*">
          </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col form-group">
            <input name="subject" type="text" class="form-control" placeholder="Your subject">
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <textarea name="message" class="form-control" placeholder="Your Comment*"></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Post Comment</button>

      </form>

    </div>

  </div><!-- End blog comments -->